body {
    background-color: #e2e8f0;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar {
    color: white;
    background-color: #1992d4;
    display: grid;
    grid-row: 1 / 5;

}


.dashboard p {
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 16px;
    margin: 0;
    display: grid;
}

li {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.dash-links {
    display: grid;
}



/* Header first row */
.header {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
}

.search-container {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: start;
    gap: 8px;
}

.top-right-icons {
    align-self: center;
}

.top-right-icons ul {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    gap: 32px;
    justify-content: end;
}


.top-right-icons li {

}

.header-profile-pic {
    height: 50px;
    width: 50px;
}

/* Header second row */
.greeting {
    display: grid;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Main section*/


.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.projects {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 15px;
    height: 200px;
}

.project {
    background-color: #fff;

}



.announcements {
    display: grid;
    background-color: #fff;
}

.trending {
    display: grid;
    grid-column: 2;
    margin: 15px;
}

.trending-tab {
    display: grid;
    background-color: #fff;
}