body {
    background-color: #e2e8f0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    color: white;
    background-color: #1992d4;
    display: grid;
    grid-row: 1 / 5;

}

/* Header first row */
.header {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
}

.search-container {
    
}

.top-right-icons {
    align-self: center;
}

.top-right-icons ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}


.top-right-icons li {

}

/* Header second row */
.greeting {
    display: grid;
}

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Main section*/


.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.projects {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.project {
    background-color: #fff;
}



.announcements {
    display: grid;
    background-color: #fff;
}

.trending {
    display: grid;
    grid-column: 2;
    background-color: #fff;
}